@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media(prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    border-radius: 0px;
}

body {
    /* Basic colors */
    --background: #F4F0EC;
    --text-light: #1C1C1C;
    --text-dark: #000000;
    --text-accent: #185EA3;
    
    /* Rainbow colors */
    --red-accent: #E85C61;
    --orange-accent: #FFA352;
    --yellow-accent: #FFC300;
    --green-accent: #84DA65;
    --blue-accent: #50A9EA;
    --purple-accent: #A35FC0;

    /* Fonts */
    --serif: 'Playfair Display', Georgia, serif;
    --sans-serif: 'Work Sans', Arial, Helvetica, sans-serif;

    background-color: var(--background);
    color: var(--text-light);
    
    font-family: var(--sans-serif);
    font-size: 16px;
    line-height: 24px;

    margin: 40px calc(100vw / 12);
    margin-bottom: 0px;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: var(--text-accent);
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-weight: bold;
}

nav ul li::after {
    content: '/';
    color: var(--text-accent);
    padding: 0px 5px;
}

nav ul li:last-of-type::after {
    content: '';
}

nav ul li a.active {
    color: var(--purple-accent);
}

nav ul li a.appended {
    font-style: italic;
    text-decoration: none;
    color: var(--purple-accent);
}

h1, h2, h3 {
    font-family: var(--serif);
    color: var(--text-dark);
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    padding: 12px 0px;
}

h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
}

button:focus-visible, a:focus-visible {
    outline: 3px solid var(--text-dark);
    outline-offset: 3px;
}

footer {
    background-color: var(--blue-accent);
    margin-inline: calc(-1 * calc(100dvw / 12));
    padding: 40px calc(100dvw / 12);
}

.footer-grid, .email-button, .copyright-info {
    margin-left: calc(100dvw / 12);
}

.footer-grid {
    display: flex;
    gap: 24px;
}

.email-button {
    background-color: var(--text-dark);
    font-family: var(--sans-serif);
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 5px 25px;
    margin-top: 16px;
}

.email-button a {
    color: white;
    text-decoration: none;
}

.copyright-info {
    margin-top: 16px;
}

.footer-grid img { 
    width: 50px;
    filter: saturate(0) invert(1) contrast(200%);
}

@media screen and (min-width: 730px) {
    body {
        font-size: 20px;
        line-height: 30px;
        margin-top: 24px;
    }

    nav ul {
        font-size: 24px;
        justify-content: center;
    }

    h1 {
        font-size: 64px;
        line-height: 64px;
        text-transform: uppercase;
        text-align: center;
        padding: 8px 0px;
    }

    h2 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 32px;
    }

    header p {
        text-align: center;
    }

    .footer-grid img {
        width: 60px;
    }

    .email-button {
        font-size: 18px;
        padding: 10px 40px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 24px;
        line-height: 36px;

        margin: 50px calc(100dvw / 24);
        margin-bottom: 0px;
    }

    nav ul {
        font-size: 30px;
        line-height: 30px;
    }

    h1 {
        font-size: 96px;
        line-height: 96px;
    }

    h2 {
        font-size: 54px;
        line-height: 54px;
    }

    h3 {
        font-size: 40px;
        line-height: 40px;
    }

    footer {
        margin-inline: calc(-1 * (100dvw / 24));
        padding: 40px calc(100dvw / 24);
    }

    .footer-grid {
        gap: 64px;
    }

    .footer-grid img {
        width: 75px;
    }

    .email-button {
        font-size: 24px;
        padding: 10px 40px;
    }

    .footer-grid, .email-button, .copyright-info {
        margin-left: calc(100dvw / 24);
    }
}